@import '../scss/variables';
@import '../scss/utilities/themes';

.btn {

    &__dark-mode-toggle {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        border-radius: .5rem;
        border: 2px solid transparent;

        @include themify($themes) {
            background-color: themed('backgroundColor');
        }


        i {
            font-size: 1.5rem;

            @include themify($themes) {
                color: themed('iconColor');
            }
        }

        &:hover {
            border-width: 2px;
            border-style: solid;

            @include themify($themes) {
                border-color: themed('borderColor');
            }

            ;
        }

    }

    &__menu {
        display: block;
        cursor: pointer;
        position: absolute; ;
        top: 0;
        right: 0;
        min-width: 2.5rem;
        z-index: 20;
        min-height: 2.5rem;

        

        i {
            font-size: $i3;

            @include themify($themes) {
                color: themed('iconColor');
            }
        }

    }
}

.btn__menu:hover{
    opacity: 0.5;
}

.header {
    @include themify($themes) {
        background-color: themed('backgroundColor');
    }

    &__wrapper {
        max-width: 90rem;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.brand {
    font-family: $font-family-heading;
    font-size: $t1;
    font-weight: $font-weight-bold;
    margin-left: $margin;
    margin-right: $margin;

   
    a {
        padding-top: $padding;
        padding-bottom: $padding;

        @include themify($themes) {
            color: themed('textColor');
        }
    }

    

}

// Navbar
    

.nav{

    ul.nav__items.show{
        transform: translateX(-20px);
    }

    ul{
        display: flex;

        &.main-menu{
            flex: 1;
            margin-left: 20px;
        }

        li{
            padding: 0 10px;
        }

        a{
            padding-bottom: 2px;
        }

        a:hover{
            border-bottom:2px solid #262626 ;
        }
    }

    // For mobile devices

    @media(max-width:700px){

    .nav__items{
    position: absolute;
    display: block;    
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    background-color:#f2f2f2;
    border-left: #ccc 1px solid;   
    transform: translateX(-1000px); 
    opacity: 0.9;
    padding: 30px;

   
    li{
        padding: 10px;
        border-bottom: 1px solid #ccc;
        font-size: 14px;
        
        a{
        color: black;
        font-weight: bold;
        
        }
    }

    li:last-child{
        border-bottom: 0;
    }


    }
}
}


// .nav {
//     display: none;
// }

main {
    position: relative;
}

@media (min-width: 48rem) {

    .btn {

        &__menu {
            display: none;
        }

    }

    .nav {
        display: block;

        &__items {
            display: flex;
            align-items: center;
        }

        &__item {
            white-space: nowrap;

            a {
                text-decoration: none;
                font-family: $font-family-text;
                font-size: $t4;
                font-weight: $font-weight-semiBold;
                padding: $padding;

                @include themify($themes) {
                    color: themed('textColor');
                }

            }

        }

    }

}